/* Hubungkan langsung ke hasil generate warna Pywal */
@import "/home/zrin/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    transition: all 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @background; /* Berubah jadi @background bawaan pywal */
    border: 1px solid @color0; /* Berubah jadi @color0 bawaan pywal */
    border-radius: 12px;
}

tooltip label {
    color: @foreground; /* Berubah jadi @foreground bawaan pywal */
    padding: 6px;
}

#workspaces {
    background-color: @background;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @color8; /* Berubah jadi @color8 bawaan pywal */
    color: @foreground;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @color8;
}

#workspaces button.active {
    background-color: @color7; /* Berubah jadi @color7 bawaan pywal */
    color: @color7;
    min-width: 35px;
    font-size: 13px;
}

/* Grup utama modul kanan */
#battery,
#pulseaudio,
#network,
#clock,
#tray,
#custom-swaync {
    background-color: @background;
    color: @color7;
    padding: 0 15px 0 15px;
    margin-right: 12px;
    border-radius: 50px;
    border: 1px solid @color8;
}

/* Kustomisasi Khusam Modul Sholat (GTK CSS Compliant) */
#custom-prayer {
    background-color: @background;
    color: @color7;
    border-radius: 50px;
    border: 1px solid @color8;
    
    /* Padding kanan-kiri disamakan (15px), atas-bawah dilebarkan sedikit */
    padding: 3px 15px; 
    
    /* Jarak aman dari #workspaces di sebelahnya */
    margin-left: 12px;
    margin-right: 12px;
    
    /* Solusi pengganti line-height: Paksa tinggi minimal kapsulnya */
    min-height: 24px; 
}

#clock {
    color: @color7;
}

#pulseaudio:hover{
    background-color: @color7;
    color: @background;
}

#network:hover {
    background-color: @color7;
    color: @background;
}

#battery:hover {
    background-color: @color7;
    color: @background;
}

#tray {
    color: @foreground;
}

#custom-prayer:hover {
    background-color: @color7;
    color: @background;
}